<?xml version="1.0"?>
<config>
  <modules>
    <Techprocess_Paynimo>
      <version>1.0.0</version>
    </Techprocess_Paynimo>
  </modules>
  <global>
    <models>
      <paynimo>
        <class>Techprocess_Paynimo_Model</class>
      </paynimo>
    </models>
    <models>
            <sales>
                <rewrite>
                    <order>Techprocess_Paynimo_Model_Order</order>
                </rewrite>
            </sales>
        </models>
    <helpers>
      <paynimo>
        <class>Techprocess_Paynimo_Helper</class>
      </paynimo>
    </helpers>
    <blocks>
      <paynimo>
        <class>Techprocess_Paynimo_Block</class>
      </paynimo>
    </blocks>
  </global>
  <default>
    <payment>
      <paynimo>
        <model>paynimo/standard</model>
        <active>1</active>
        <order_status>processing</order_status>
        <title>Paynimo Payment Gateway</title>
        <payment_action>sale</payment_action>
		<submit_url>https://www.paynimo.com/</submit_url>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </paynimo>
    </payment>
  </default>
  <frontend>
    <routers>
      <paynimo>
        <use>standard</use>
        <args>
          <module>Techprocess_Paynimo</module>
          <frontName>paynimo</frontName>
        </args>
      </paynimo>
    </routers>
  </frontend>
</config>